<h2><%= @Movies.title %></h2>
<img src="<%= @Movies.poster %>">
<ul>
  <li><%= @Movies.director %></li>
  <li><%= @Movies.release %></li>
  <li><%= @Movies.genre %></li>
</ul>

<% if $credentials %>
  <% if $credentials[0] != "" %>
    <a href="/movies/<%= @Movies.title %>/createreview"><button>Create Review!</button></a>
  <% end %>
<% end %>

<h2>Reviews</h2>
<% if @Reviews %>
  <% @Reviews.each do |review| %>
    <h4><%= review.user %></h4>
    <p><%= review.content %></p>
  <% end %>
<% end %>
